# Данные с https://my.telegram.org
API_ID=
API_HASH=

# Настройки RabbitMQ (совпадают с docker-compose)
RABBIT_HOST=rabbitmq
RABBIT_USER=fastsearch
RABBIT_PASS=secret_password
RABBIT_QUEUE=new_messages
